<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('recaptcha_element', {
        'sitekey': '<%= recaptchaSiteKey %>',
        'theme': 'light',
        'size': 'normal'
      });
    };
  </script>
</head>
<body class="inquiry-form">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container">
  <section class="subscribe-form">
    <h2 class="m-b-20">Inquiry form</h2>
    <%- include('../partials/form') %>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="script.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>
</html>