<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container">
  <h2 class="darker">Success <span class="icon thumb-up"></span></h2>
  <section class="content">
    <p><%= name %> <%= message %></p>
    <%- include('../partials/food-items') %>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="script.js"></script>

</body>
</html>