<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h3 class="">Success ⚠️</h3>
  <section>
    <p><%= name %> <%= message %></p>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="script.js"></script>

</body>
</html>